<?xml version="1.0"?>
<robot name="tango_phone">
  <link name="phone">
    <visual>
      <!-- <origin xyz="0 0 0" rpy="3.14 0 1.57 " /> -->
      <origin xyz="0 0 0" rpy="0 -1.57 0" /> -->
      <geometry>
        <mesh filename="file:///home/rohan/Tango/tango_phone.dae"
          scale="0.01 0.01 0.01"
          />
      </geometry>
    </visual>
  </link>
</robot>

